.small-hero-img {
  position: absolute;
  left: 50%; 
  transform: translate(-50%);
  max-width: 100%;
  min-width: 440px;
  z-index: -1;
}

.large-hero-img{
  display: none;
}

.hero-text-container {
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: flex-end;
}

.hero-text {
  margin: 0 0 2em 1em;
  color: white;
}

@media (min-width: 840px) {
  .small-hero-img{
    display: none;
  }

  .large-hero-img{
    display: block;
    max-width: 100%;
    position: absolute;
    z-index: -1;
  }

  .hero-text {
    margin: 0 0 5rem 3rem;
    color: white;
  }

}
